.markdown {
  @apply text-lg leading-relaxed text-black;
}

.markdown img {
  @apply mx-auto w-full max-w-max;
}

.markdown p,
.markdown ul,
.markdown ol {
  @apply my-6;
}

.markdown blockquote {
  @apply my-2 px-4 py-1 bg-gray-200 italic;
}

.markdown ul {
  @apply pl-6;
  list-style-type: disc;
}

.markdown ul a {
  @apply underline;
}

.markdown ol {
  @apply list-decimal pl-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug text-red-600;
  font-family: "Ubuntu Mono", "Lato", sans-serif;
  font-weight: bold;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply underline;
}
