.markdown {
  @apply text-lg leading-relaxed text-gray-100;
}

.markdown img {
  @apply mx-auto;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ul {
  @apply pl-6;
  list-style-type: disc;
}

.markdown ul a {
  @apply underline;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
  font-family: "Gothic A1", "Lato", sans-serif;
  font-weight: bold;
  background: -webkit-linear-gradient(
    45deg,
    #03a9f4,
    #f441a5,
    #ffeb3b,
    #03a9f4
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateHeader 12s linear infinite;
  background-size: 400%;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply underline;
}
